html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.outer_div {
    width: 100vw;
    height: 100vh;
    background: #e5a3a3;
    display: grid;
    place-items: center;
}
